@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


.App{
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

.title{
  text-align: center;
  font-family: 'Noto Serif JP', sans-serif;
}

.sub-title{
  font-family: 'Noto Serif JP', sans-serif;
  margin-bottom: 32px;
  text-align: center;
}

/* ヘッダー */
header{
  display: flex;

  /* 主軸の幅に対して余白をもって等間隔に配置する */
  justify-content: space-around; 
  align-items: center; 
  color: white;
  /* position: fixed; */
  background-color: rgb(32, 29, 29);
  width: 100%;
  height: 100px;
  /* 一番手前にくるようにする */
  z-index: 10;
}

header .logo h3{
  font-size: 30px;
  font-family: 'Noto Serif JP', sans-serif;
}

nav ul{
  margin: 0;
  padding:0;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav ul li a:hover{
  color: green;
}

/*フッター */
footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; 
  background-color: #dfedfd; 
  font-size: small;
  margin: 0 auto;
  text-align: center;
}